# ContinuaOS Production Supabase Auth & Database Config
NEXT_PUBLIC_SUPABASE_URL=https://tmajgvivaizcjpysggod.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mjeMCS-80ht6EV04Zdc7hA_VWiyssbs
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mjeMCS-80ht6EV04Zdc7hA_VWiyssbs
SUPABASE_PROJECT_REF=tmajgvivaizcjpysggod
