# ContinuaOS Production Config
NEXT_PUBLIC_SUPABASE_URL=https://tmajgvivaizcjpysggod.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mjeMCS-80ht6EV04Zdc7hA_VWiyssbs
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mjeMCS-80ht6EV04Zdc7hA_VWiyssbs
SUPABASE_PROJECT_REF=tmajgvivaizcjpysggod
NEXT_PUBLIC_TMDB_API_KEY=d95c462977302538d544a687fa058114
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=097c0e5eec6b4bbe80e1081df904d524
SPOTIFY_CLIENT_SECRET=e43c1ad83dc54a93b9a13810ff863d28
DROPBOX_CLIENT_ID=ur0xcvza9suo8q7
DROPBOX_CLIENT_SECRET=o9uzlpr6v01h87r
NEXT_PUBLIC_DROPBOX_CLIENT_ID=ur0xcvza9suo8q7
TOKEN_ENCRYPTION_KEY=continua_os_secure_vault_token_32_bytes_key!
